<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Paralex Scrolling Website</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <header>
            <a href="#" class="Logo">Logo</a>
            <ul class="navigation">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </header>
        <section class="parallax">
            <h2 id="text">Parallax Website</h2>
            <img src="{{ url_for('static', filename='images/monutain_01.png')}}" id="m1">
            <img src="{{ url_for('static', filename='images/trees_02.png')}}" id="t2">
            <img src="{{ url_for('static', filename='images/monutain_02.png')}}" id="m2">
            <img src="{{ url_for('static', filename='images/trees_01.png')}}" id="t1">
            <img src="{{ url_for('static', filename='images/man.png')}}" id="man">
            <img src="{{ url_for('static', filename='images/plants.png')}}" id="plants">
        </section>
        

    </body>
</html>
