<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Elvir Velagic</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    </head>

    <body>
        <section class="parallax">
            <!-- <img src="{{ url_for('static', filename='images/bluebackground.png')}}" id="bg"> -->
            <img src="{{ url_for('static', filename='images/fadetest-min.png')}}" id="fade">
            <img src="{{ url_for('static', filename='images/skyfall2-min.png')}}" id="skyfall">
            <img src="{{ url_for('static', filename='images/starsbackground-min.png')}}" id="stars">
            <img src="{{ url_for('static', filename='images/planet-min.png')}}" id="planet">
            <img src="{{ url_for('static', filename='images/austronautglow-min.png')}}" id="glow">
        </section>
        <section class="sec-2">
            <br>
            <br>
            <br>
            <br>
            <h3>Välkommen till mitt portfolio</h3>
            <h2>Mitt namn är Elvir Velagic och jag är utbildad pythonutvecklare med inriktning AI och Machine learning. Just nu letar jag efter en lämplig arbetsplats där jag kan växa som programmerare samt att bidra till något större arbete än skolprojekt. Här nedanför finns mitt CV, relevanta länkar och tidigare projekt, kontaktuppgifter finns längst ner på sidan.</h2>
        </section>

        <section class="sec-2">

            <a href="{{ url_for('static', filename='CV-ElvirVelagic.pdf')}}" target="_blank" rel="noopener noreferrer">
            <img src="{{ url_for('static', filename='images/cv_card-min.png')}}" height="250" width="203" alt="Download CV" title="Download CV" id="test1">
            </a>
            <a href="https://www.linkedin.com/in/elvir-velagic-760563212/" target="_blank" rel="noopener noreferrer">
            <img src="{{ url_for('static', filename='images/linkedin_card-min.png')}}" height="250" width="203" title="Visit Linkedin Page" id="test2">
            </a>
            <a href="https://github.com/QueeenAnna/AI-project" target="_blank" rel="noopener noreferrer">
            <img src="{{ url_for('static', filename='images/foodreq4.png')}}" height="250" width="203" title="Visit Github Project" id="test3">
            </a>
            <a href="https://www.codewars.com/users/elvir1337" target="_blank" rel="noopener noreferrer">
            <img src="{{ url_for('static', filename='images/codewars_card-min.png')}}" height="250" width="203" title="Visit Codewars Profile" id="test4">
            </a>
            <a href="https://github.com/elvirvelagic?tab=repositories" target="_blank" rel="noopener noreferrer">
            <img src="{{ url_for('static', filename='images/foodclass.png')}}" height="250" width="203" title="Visit Github Profile" id="test5">
            </a>
            <a href="https://github.com/elvirvelagic?tab=repositories" target="_blank" rel="noopener noreferrer">
            <img src="{{ url_for('static', filename='images/Thiswebsite.png')}}" height="250" width="203" title="Visit Github Profile" id="test5">
            </a>
            <a href="https://github.com/elvirvelagic?tab=repositories" target="_blank" rel="noopener noreferrer">
            <img src="{{ url_for('static', filename='images/githubcard.png')}}" height="250" width="203" title="Visit Github Profile" id="test5">
            </a>
            <a href="https://github.com/elvirvelagic?tab=repositories" target="_blank" rel="noopener noreferrer">
            <img src="{{ url_for('static', filename='images/githubcard.png')}}" height="250" width="203" title="Visit Github Profile" id="test5">
            </a>
            
            

            <!-- <a href="{{ url_for('static', filename='CV-ElvirVelagic.pdf')}}">
                <button type="button" data-download=""class="download-btn" data-timer="10">
                    <span class="icon material-symbols-rounded">vertical_align_bottom</span>
                    <span class="text">Ladda Ner</span>
                </button>
            </a> -->
            
            

        </section>
        <section class="sec-3">
            <h3>Kontaktuppgifter</h3>
            <br>
            <h2>Email: elvir.1998@hotmail.com</h2>
            <h2>Telefonnummer: 07222499495 <br> </h2>

        </section>
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>

        <script>
            gsap.from("#fade",{
                scrollTrigger : {
                    scrub : true
                },
                y: 100,
            })
            gsap.from("#skyfall",{
                scrollTrigger : {
                    scrub : true
                },
                y: -150,
            })
            gsap.from("#stars",{
                scrollTrigger : {
                    scrub : true
                },
                y: -100,
            })
            gsap.from("#planet",{
                scrollTrigger : {
                    scrub : true
                },
                x: -200,
            })
            /*
            gsap.from("#test1",{
                scrollTrigger : {
                    scrub : true
                },
                x: -300,
            })
            gsap.from("#test2",{
                scrollTrigger : {
                    scrub : true
                },
                y: 300,
            })
            
            gsap.from("#test3",{
                scrollTrigger : {
                    scrub : true
                },
                y: 450,
            })

            gsap.from("#test4",{
                scrollTrigger : {
                    scrub : true
                },
                x: -500,
            })

            gsap.from("#test5",{
                scrollTrigger : {
                    scrub : true
                },
                x: 145,
            })
            */
        </script>
    </body>
    
</html>