<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Elvir Velagic</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    </head>

    <body>
        <section class="parallax">
            <!-- <img src="{{ url_for('static', filename='images/bluebackground.png')}}" id="bg"> -->
            <img src="{{ url_for('static', filename='images/fadetest-min.png')}}" id="fade">
            <img src="{{ url_for('static', filename='images/skyfall2-min.png')}}" id="skyfall">
            <img src="{{ url_for('static', filename='images/starsbackground-min.png')}}" id="stars">
            <img src="{{ url_for('static', filename='images/planet-min.png')}}" id="planet">
            <img src="{{ url_for('static', filename='images/austronautglow-min.png')}}" id="glow">
        </section>
        <section class="sec-2">
            <br>
            <br>
            <br>
            <br>
            <h3>Elvir Velagic</h3>
            <h2>Pythonutvecklare</h2>
            <h1>Välkommen till mitt portfolio! Här nedanför kan du hitta länkar till mina projekt, profilsidor och även kontaktinformation. Lätt, smidigt och enkelt!</h1>
        </section>

        


            <section class="sec-4">
                <div class="row">
                    <a href="{{ url_for('static', filename='CV-ElvirVelagic.pdf')}}" target="_blank" rel="noopener noreferrer">
                        <div class="column">
                            <img src="{{ url_for('static', filename='images/CVfinal-min.png')}}" width="75%;" title="Download CV">
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/elvir-velagic-760563212/" target="_blank" rel="noopener noreferrer">
                        <div class="column">
                            <img src="{{ url_for('static', filename='images/linkedin_card-min.png')}}" width="75%;" title="Visit Linkedin Profile">
                        </div>
                    </a>
                    <a href="https://www.codewars.com/users/elvir1337" target="_blank" rel="noopener noreferrer">
                        <div class="column">
                            <img src="{{ url_for('static', filename='images/codewars_card-min.png')}}" width="75%;" title="Visit Codewars Profile">
                        </div>
                    </a>
                    <a href="https://github.com/QueeenAnna/AI-project" target="_blank" rel="noopener noreferrer">
                        <div class="column">
                            <img src="{{ url_for('static', filename='images/foodreq4-min.png')}}" width="75%;" title="Visit Github Project">
                        </div>
                    </a>
                    <a href="https://github.com/elvirvelagic/personalwebsite" target="_blank" rel="noopener noreferrer">
                        <div class="column">
                            <img src="{{ url_for('static', filename='images/Thiswebsite-min.png')}}" width="75%;" title="Visit Github Project">
                        </div>
                    </a>
                    <a href="https://github.com/AmerAhmed/Applicerad-AI" target="_blank" rel="noopener noreferrer">
                        <div class="column">
                            <img src="{{ url_for('static', filename='images/foodclass-min.png')}}" width="75%;" title="Visit Github Project">
                        </div>
                    </a>
                    <a href="https://github.com/elvirvelagic" target="_blank" rel="noopener noreferrer">
                        <div class="column">
                            <img src="{{ url_for('static', filename='images/githubcard-min.png')}}" width="75%;" title="Visit Github Profile">
                        </div>
                    </a>
                    <a href="mailto: elvir.1998@hotmail.com">
                        <div class="column">
                            <img src="{{ url_for('static', filename='images/kontaktinformation-min.png')}}" width="75%;" title="Send Email">
                        </div>
                    </a>

                    
                </div>
            </section>

       
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>

        <script>
            gsap.from("#fade",{
                scrollTrigger : {
                    scrub : true
                },
                y: 100,
            })
            gsap.from("#skyfall",{
                scrollTrigger : {
                    scrub : true
                },
                y: -150,
            })
            gsap.from("#stars",{
                scrollTrigger : {
                    scrub : true
                },
                y: -100,
            })
            gsap.from("#planet",{
                scrollTrigger : {
                    scrub : true
                },
                x: -200,
            })
            
        </script>
    </body>
    
</html>