*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    
}
.parallax
{
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100vh;
    background-color: #131835;

}
.parallax img
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.sec-2
{
    background-color: #110620;
    padding: 100px;
    position: relative;
}
.sec-2 h2
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
/* .background-image
{
    background-image: url(./images/bluebackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

} */
.sec-2 a
{
    text-decoration: none;
}
.download-btn{
    outline: none;
    border: none;
    color: #fff;
    display: flex;
    cursor: pointer;
    padding: 16px 25px;
    border-radius: 6px;
    align-items: center;
    white-space: nowrap;
    background: #e02074;
    transition: all 0.2s ease;
  }
  .download-btn:hover{
    background: #4d1352;
  }
  .download-btn.timer{
    color: #000;
    background: none;
    transition: none;
    font-size: 1.6rem;
    pointer-events: none;
  }
  .download-btn.timer b{
    color: #4A98F7;
    padding: 0 8px;
  }
  .download-btn .icon{
    font-size: 2rem;
  }
  .download-btn .text{
    font-size: 1.5rem;
    padding-left: 10px;
  }
.sec-2 h3
{
  font-size: 2em;
  padding-left: 80px;
  padding-bottom: 10px;
  color: #fff;
}
.sec-2 img
{
  
  border-radius: 6px;
}
