*
{
    margin: 0;
    padding: 0;

}
.parallax
{
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100vh;

}
.parallax img
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
/* .background-image
{
    background-image: url(./images/bluebackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

} */